body {
    background: #ececec;
}

* {
    font-family: calibri;

}



.frase-content {
    display: flex;
    justify-content: center;
    padding-left: 80px;
    background-color: #9acce2;
}

.frase-principal {
    font-family: Arial;
    font-style: italic;
    margin: 30px 0px;
    color: white;

}

header {
    color: #fff;
    padding: 10px 0;
}

/* INICIO ESTILOS DE LA BARRA DE NAVEGACION */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    max-width: 100px;
}

.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin-right: 30px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu a {
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: all 1.3s ease;
}

.menu a:hover {

    background-color: #f3ad23;
    border-radius: .4em;
    transition: all 1.3s ease;
}

.login-register a {
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 1.3s ease;
}

.login-register a:hover {
    background-color: #9acce2;
    border-radius: .4em;
    transition: all 1.3s ease;
}



/* Ajuste de barra de navegacion cuando la pantalla es mas pequeña*/

@media screen and (max-width: 658px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .logo img {
        max-width: 80px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu ul li {
        margin: 10px 0;
    }

    .menu a {
        padding: 0 20px;
        text-decoration: none;
        color: #000000;
        font-weight: bold;
        font-size: 14px;
    }

    .login-register {
        margin-top: 20px;
    }

    .login-register a {
        font-size: 14px;
    }
}

/* FIN ESTILOS PARA LA BARRA DE NAVEGACION */




.video-content {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    max-width: 220px;
}



.eslogan-content {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.eslogan-box {
    max-width: 550px;
}

.eslogan-txt {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.autos-boton {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    padding: 20px;
    border: outset #9ACDE2 3px;

}

.autos-boton-a {
    background-color: #9acce2;
    font-size: 25px;
    padding: 10px 30px;
    justify-content: center;
    color: white;
}

.contador-visitas {
    background-color: #9acce2;
    font-size: 25px;
    padding: 11px 30px;
    justify-content: center;
    color: white;
}